.article-enter {
    opacity: 0.01;
}

.article-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.article-exit {
    opacity: 1;
}

.article-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.article-exit-done {
    opacity: 0;
}
