.article-enter {
    opacity: 0.01;
    max-height: 0;
}

.article-enter.article-enter-active {
    opacity: 1;
    max-height: 50rem;
    transition: all 500ms ease-in;
}

.article-leave {
    opacity: 1;
    max-height: 50rem;
}

.article-leave.article-leave-active {
    opacity: 0.01;
    max-height: 0;
    transition: all 500ms ease-in;
}
