.comment-list-enter {
    opacity: 0.01;
}

.comment-list-enter.comment-list-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.comment-list-leave {
    opacity: 1;
}

.comment-list-leave.comment-list-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.comment-list-appear {
    transform: scale(0.01);
}

.comment-list-appear.comment-list-appear-active {
    transform: scale(1);
    transition: transform 600ms ease-in;
}